/* 마우스커서 */
.dot {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: rgba(41, 253, 83, 0.4);
  border: 2px solid #29fd53;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  z-index: 10000;
  pointer-events: none;
  transition: transform 0.3s;
  cursor: none;
}

/* header */
header {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.header_nav {
  width: 30rem;
  height: 30rem;
  background: #2f363e;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 
    25px 25px 75px rgb(0 0 0 / 0.25), 
    10px 10px 70px rgb(0 0 0 / 0.25), 
    inset 5px 5px 10px rgb(0 0 0 / 0.5), 
    inset 5px 5px 20px rgb(255 255 255 / 0.2), 
    inset -5px -5px 15px rgb(0 0 0 / 0.75);
  transition: all 0.5s;  
}
.header_nav li {
  position: absolute;
  width: 15rem;
  height: 15rem;
  transform-origin: 100% 100%;
  transition:  .3s ease;
  box-sizing: border-box;
  transform: rotate(calc(360deg / 5 * var(--i))) skew(18deg);
}
.header_nav li a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute; 
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transform-origin: 100% 100%;
}
.header_nav li a span {
  display: block;
}
.header_nav li a span.icon {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  transform: skew(-18deg) rotate(calc(360deg / -5 * var(--i2)));
  box-shadow: 
    25px 25px 75px rgb(0 0 0 / 0.25), 
    10px 10px 70px rgb(0 0 0 / 0.25), 
    inset 5px 5px 10px rgb(0 0 0 / 0.5), 
    inset 5px 5px 20px rgb(255 255 255 / 0.2), 
    inset -5px -5px 15px rgb(0 0 0 / 0.75);
  transition: 1s;
}
.header_nav li.on a span.icon {
  bottom: -3rem;
  right: -3rem;
  transform: skew(-18deg) rotate(calc(360deg / -5 * var(--i2))) scale(1.6);
  color: #29fd53;
}
.header_nav li a span.icon::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.header_nav li.on a span.icon::before {
  top: 1rem;
  border: none;
  background: #29fd53;
  box-shadow: 0 0 6px 2px #29fd53;
}
.header_nav li a span.text {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  transform: skew(-18deg) rotate(calc(360deg / -5 * var(--i2)));
  background: #29fd53;
  border-radius: 30px;
  overflow: hidden;
  box-shadow:
    0 0 10px #29fd53,
    0 0 20px #29fd53,
    inset 5px 5px 8px rgba(0, 0, 0, 0.75),
    inset -20px -20px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.7s;
}
.header_nav li.on a span.text {
  opacity: 1;
  bottom: 3rem;
  right: 3rem;
}
.header_nav.noshow {
  transform: scale(0);
}
.center {
  width: 10rem;
  height: 10rem;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #29fd53;
  overflow: hidden;
}

/* 토글버튼 */
.toggle {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #2f363e;
  top: 15rem;
  left: 35rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 
    25px 25px 75px rgb(0 0 0 / 0.25), 
    10px 10px 70px rgb(0 0 0 / 0.25), 
    inset 5px 5px 10px rgb(0 0 0 / 0.5), 
    inset 5px 5px 20px rgb(255 255 255 / 0.2), 
    inset -5px -5px 15px rgb(0 0 0 / 0.75);
  transition: all 0.5s;
}
.toggle::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background: #29fd53;
  transition: 1s;
  transform: translateY(0px) rotate(-405deg);
}
.toggle::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background: #29fd53;
  transition: 1s;
  transform: translateY(0px) rotate(225deg);
}
.toggle.active {
  transform: translateX(-20rem);
}
.toggle.active::before {
  transform: translateY(-5px);
}
.toggle.active::after {
  transform: translateY(5px);
}

/* popup */
.popup {
  width: 70rem;
  height: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  z-index: 9999;
  border: 3px solid #4dff03;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
}
.pop_close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: #29fd53;
}
.pop_close span {
  display: block;
  width: 100%;
  height: 2px;
  background: #111;
  transform: rotate(45deg);
  position: relative;
}
.pop_close span::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #111;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
}
.popup p {
  margin-top: 50px;
  font-size: 3rem;
  line-height: 1.4;
  word-break: keep-all;
  color: #fff;
}
.popup_cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9998;
}

/* main */
section:not(.phone section) {
  padding:10rem 0;
  border-bottom: 1px solid #29fd53;
  position: relative;
}
.inner {
  width: 100%;
  max-width: 1280px;
  padding: 30px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* home */
.home::after{
  content: 'HOME';
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 30vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}
.home .inner {
  flex-direction: column;
  align-items: center;
  word-break: keep-all;
  word-wrap: break-word;
}
.home h1 {
  position: relative;
  font-size: 5rem;
  color: #222;
}
.home h1::before {
  content: attr(data-text);
  position: absolute;
  color: #29fd53;
  width: 35rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #29fd53;
  animation: homeText 4s linear infinite;
  filter: drop-shadow(0 0 20px #29fd53);
}
@keyframes homeText {
  0%, 10%, 100%
  {
    width: 0;
  }
  70%, 90%
  {
    width: 100%;
  }
}
.home p {
  margin-top: 4rem;
}
.home p strong,
.home p span {
  display: block;
  line-height: 1.5;
  color: #fff;
}
.home p strong {
  display: inline;
  font-size: 3rem;
}
.home p span {
  font-size: 2.7rem;
}

/* about */
.about::after {
  content: 'ABOUT';
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 25vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  z-index: -1;
}
.introduce {
  width: 30%;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
.introduce::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-image: conic-gradient(transparent, transparent, transparent, #29fd53);
  animation: backBorder 4s linear infinite;
}
.introduce::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-image: conic-gradient(transparent, transparent, transparent, #29fd53);
  animation: backBorder 4s linear infinite;
  animation-delay: -2s;
}
@keyframes backBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile {
  position: absolute;
  inset: 5px;
  border-radius: 20px;
  background: #2f363e;
  z-index: 1;
  padding: 20px;
}
.profile span,
.Character span {
  display: block;
  color: #29fd53;
  font-weight: bold;
  font-size: 25px;
  margin: 1rem 0;
  line-height: 1.2;
}
.profile li,
.Character li {
  line-height: 1.4;
  color: #fff;
  font-size: 18px;
} 
.Character {
  margin-top: 3rem;
}
.Character li {
  position: relative;
  padding-left: 20px;
}
.Character li::before {
  content: "";
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  left: 0;
  width: 15px;
  height: 15px;
  background: url('../imges/check.png') no-repeat center;
  background-size: cover;
}
.about .phone {
  font-size: 10px;
  position: relative;
  width: 60em;
  overflow: hidden;
}
.about .phone img {
  width: 100%;
  z-index: 100;
}
.about .phone .phone_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 39em;
  height: 90%;
  border-radius: 40px;
  background: #fff;
  padding: 0 2.5em;
  overflow-y: scroll;
}
.about .phone .phone_content::-webkit-scrollbar {
  width: 5px;
}
.about .phone .phone_content::-webkit-scrollbar-thumb {
  height: 5%;
  background: transparent;
  border-radius: 50px;
  margin-top: 50px;
}
.about .phone .phone_content::-webkit-scrollbar-track {
  width: 6px;
}
.mo_header {
  height: 9em;
  margin-top: 0.3em;
  display: flex;
  justify-content: space-between;
}
.mo_header .mo_icon {
  font-size: 5em;
  display: flex;
  align-items: center;
}
.mo_header .util {
  display: flex;
}
.mo_header button {
  display: flex;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 5.5em;
}
.mo_header .util .mo_icon {
  font-size: 3rem;
}
.phone section {
  padding: 0;
  border: none;
}
.phone .my {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone .my span {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.phone .my .user button {
  font-size: 10px;
  display: block;
  width: 9em;
  height: 9em;
  border: 2px solid #cccccc;
  border-radius: 50%;
  background: url("../imges/profil.jpg") center no-repeat;
  background-size: cover;
}
.phone .my .user span {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 5px;  
}
.main_gallery {
  margin-top: 5rem;
}
.mo_list {
  margin-bottom: 4rem;
}
.main_gallery .mo_img {
  width: 100%;
  min-height: 20em;
  max-height: 80em;
}
.main_gallery .mo_click_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7em;
}
.main_gallery .mo_click_area span {
  font-size: 2.5em;
  cursor: pointer;
}
.main_gallery .mo_click_area .mo_click_left span {
  margin-right: 0.7em;
}
.main_gallery .mo_text_area {
  margin-top: 0.7em;
}
.mo_text_area span {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.mo_text_area p {
  font-size: 1.4em;
}
.mo_text_area p em {
  margin-right: 0.5em;
  font-style: normal;
  font-size: 1.2em;
}

/* portfolio */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.portfolio::before {
  content: 'PORTFOLIO';
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 15vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  z-index: -5;
}
.portfolio_menu {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_menu li {
  position: absolute;
  list-style: none;
  left: -35rem;
  transform-origin: 45rem;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
  transform: rotate(0deg) translateX(40rem);
}
.portfolio_menu.active li {
  transform: rotate(calc(360deg / 5 * var(--i)));
}
.portfolio_menu .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background: transparent;
  border-radius: 50%;
  transform: rotate(calc(360deg / -5 * var(--i))) scale(0.9);
  box-shadow:
    inset 5px 5px 5px rgb(0 0 0 / 50%),
    inset 5px 5px 10px rgb(255 255 255 / 20%),
    inset -5px -5px 15px rgb(0 0 0 / 75%);
  overflow: hidden;
  transition: all 0.7s;
  box-sizing: border-box;
}
.portfolio_menu.active .container {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  transition: all 0.5s;
  transition-delay: 1s;
}
.portfolio_menu.active .container:hover {
  overflow: visible;
}
.plus {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: #2f363e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 
    25px 25px 75px rgb(0 0 0 / 25%),
    10px 10px 70px rgb(0 0 0 / 25%),
    inset 5px 5px 5px rgb(0 0 0 / 50%),
    inset 5px 5px 10px rgb(255 255 255 / 20%),
    inset -5px -5px 15px rgb(0 0 0 / 75%);
  font-size: 5em;
  transition: 1.25s;
  color: #29fd53;
  filter: drop-shadow(0 0 5px #29fd53);
}
.portfolio_menu.active .plus {
  transform: rotate(315deg);
  color: #fa1172;
  filter: drop-shadow(0 0 5px #fa1172);
}
.card_box {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 
    25px 25px 75px rgb(0 0 0 / 25%),
    10px 10px 70px rgb(0 0 0 / 25%),
    inset 5px 5px 5px rgb(0 0 0 / 50%),
    inset 5px 5px 10px rgb(255 255 255 / 20%),
    inset -5px -5px 15px rgb(0 0 0 / 75%);
  border-radius: 50%;
}
.card_box::before {
  content: "#반응형";
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 100px);
  font-size: 3rem;
  background: #29fd53;
  opacity: 0;
  transition: all 0.5s;
}
.card_box.card_box04::before {
  content: "#PC";
} 
.card_box.card_box05::before {
  content: "#웹 접근성";
} 
.card_box:hover::before {
  opacity: 1;
  transform: translate(-50%, 0);
}
.card {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border: 2px solid #2a2b2f;
  box-shadow: 0 20px 50px rgba(0, 0 , 0, 0,5);
  transition-property: opacity, transform;
  transition-delay: 1s, 0s;
  transition-duration: 0.5s;
  opacity: 0;
}
.card_01 {
  background: #2a2b2f url('../imges/unnamed.png')no-repeat center;
  background-size: 100% 100%;
}
.card_02 {
  background: #2a2b2f url('../imges/ankang.jpeg')no-repeat center;
  background-size: 100% 100%;
}
.card_03 {
  background: #2a2b2f url('../imges/dyson.png')no-repeat center;
  background-size: 100% 100%;
}
.card_04 {
  background: #2a2b2f url('../imges/pmang.png')no-repeat center;
  background-size: 100% 100%;
}
.card_05 {
  background: #2a2b2f url('../imges/uiwang.png')no-repeat center;
  background-size: 100% 100%;
}
.card:hover {
  border-color: #29fd53;
}
.card:hover:after {
  background: none;
  z-index: -1;
}
.portfolio_menu.active .card {
  opacity: 1;
  border-radius: 50%;
  overflow: hidden;
}
.card .content  {
  padding: 1.5rem;
  text-align: center;
}
.card .content h2 {
  font-size: 3.5rem;
  background-color: #29fd53;
  opacity: 0.7;
}
.card .content .card_btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  background: #29fd53;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border-radius: 18px;
  color: rgb(58, 58, 58);
}
.card .content .card_btn:hover {
  filter: drop-shadow(0 0 15px #29fd53);
}
.mo_portfolio_menu {
  margin-top: 50%;
  display: none;
}
.mobile_list a {
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #4dff03;
  border-radius: 20px;
  box-shadow: 
    inset 5px 5px 5px rgb(0 0 0 / 50%),
    inset 5px 5px 10px rgb(255 255 255 / 20%),
    inset -5px -5px 15px rgb(0 0 0 / 75%);
}
.mobile_list a img {
  width: 100%;
}
.mobile_list figcaption {
  text-align: center;
  margin-top: 8px;
}
.mobile_list figcaption h2 {
  color: #29fd53;
  font-size: 25px;
}
.mobile_list figcaption span {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
}

/* plans */
.plans {
  position: relative;
}
.plans::before {
  content: 'PLANES';
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 25vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  z-index: -5;
}
.plans .inner {
  display: block;
}
.plans strong {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  color: #29fd53;
  margin-bottom: 5rem;
}
.plans p {
  font-size: 3rem;
  color: #fff;
  word-break: keep-all;
  color: #fff;
  line-height: 1.4;
}
.library_wrap {
  display: flex;
  justify-content: center;
}
.library_box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.5s;
  background: #060c21;
}
.library_box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.library_box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.library_box::before,
.library_box::after {
  background: linear-gradient(235deg,#90ff00,#010615,#00bcd4);
}
.library_box:nth-child(2):before,
.library_box:nth-child(2):after {
  background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.library_box:nth-child(3):before,
.library_box:nth-child(3):after {
  background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}
.img_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.img_box img {
  width: 100%;
  opacity: 0.1;
  transition: 0.5s;
  height: 100%;
}
.library_box:hover .img_box img {
  opacity: 1;
  transition: 0.5s;
}
.library_box .text_box {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.library_box .text_box h2 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.library_box .text_box h2 span {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.library_box:hover .text_box {
  opacity: 1;
  transition: 0.5s;
}

/* contact */
.contact {
  position: relative;
}
.contact .inner {
  flex-direction: column;
}
.contact .contact_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact::before {
  content: 'CONTACT';
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 20vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  z-index: -5;
}
.contact_top {
  padding: 30px;
}
.contact_top p {
  font-size: 3rem;
  color: #29fd53;
  font-weight: bold;
}
.contact_item {
  position: relative;
  width: 320px;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}
.contact_item:hover {
  transform: translateY(-20px);
}
.contact_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058 );
}
.contact_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058 );
  filter: blur(30px);
}
.contact_item:nth-child(2):before,
.contact_item:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058 );
}
.contact_item:nth-child(3):before,
.contact_item:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff );
}
.contact_item > span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.contact_item > span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  pointer-events: none;
}
.contact_item .content {
  position: relative;
  z-index: 5;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}
.contact_item .content i {
  display: block;
  font-size: 50px;
  color: #fff;
}
.contact_item .content img {
  width: 150px;
}
.contact_item .content p span {
  display: inline-block;
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: bold;
  line-height: 1.4;
}

/* footer */
footer {
  padding: 20px 0;
  background: #111;
  color: #29fd53;
  font-size: 1.5rem;
  line-height: 1.3;
}
footer .inner {
  height: 50px;
  min-height: auto;
}
footer .inner span {
  display: block;
  margin-bottom: 10px;
}

/* 스크롤커스텀 */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  height: 30%;
  background: #29fd53;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: #2f363e
}

/* media */
@media (min-width:1281px) {
  html {
    font-size: 10px;
  }
}
@media (max-width:1280px) {
  html{
    font-size: 7px;
  }
  .about .phone {
    font-size: 9px;
  }
}
@media (max-width:1024px) {
  html{
    font-size: 6px;
  }
  .about .inner {
    flex-direction: column;
  }
  .introduce {
    width: 50%;
    height: 350px;
    order: -1;
  }
}

@media (max-width:765px) {
  .home h1 {
    font-size: 4rem;
  }
  .library_wrap {
    flex-direction: column;
    align-items: center;
  }

  .Character span {
    font-size: 18px;
  }
  .profile li,
  .Character li {
    font-size: 14px;
  }
  .phone .my span {
    font-size: 13px;
  }
  .contact .contact_wrap {
    flex-direction: column;
    align-items: center;
  }
  .contact_item .content p span {
    font-size: 15px;
  }
}

@media (max-width:500px) {
  html{
    font-size: 5px;
  }
  .introduce {
    width: 100%;
    height: 300px;
  }
  .about .phone {
    font-size: 7px;
  }
  .phone .my span {
    font-size: 12px;
    letter-spacing: -1px;
  }
  .portfolio_menu {
    display: none;
  }
  .mo_portfolio_menu {
    display: block;
  }
  .portfolio .inner {
    display: block;
  }
  .library_box {
    width: 250px;
    height: 250px;
  }
  .contact_item {
    width: 250px;
  }
}